In [676]:
import pandas as pd

In [677]:
# Task 1
def count_top3(my_years):
    list_years = []
    list_ = []
    list_years.extend(my_years)
    for years in list_years:
        df = pd.read_csv("names/yob"+str(years)+".txt", names = ['Names', 'Gender', 'Count'])
        df['Year'] = years
        list_.append(df)
        frame = pd.concat(list_)
        frame = frame.reset_index()
        df_res = frame.groupby('Count')['Names'].max().tail(3)
    return df_res.tolist()

In [678]:
count_top3([1880])

['Mary', 'William', 'John']

In [679]:
count_top3([1900, 1950, 2000])

['Linda', 'Robert', 'James']

In [680]:
# Task 2
def count_dynamics(my_years):
    list_years = []
    list_ = []
    list_years.extend(my_years)
    for years in list_years:
        df = pd.read_csv("names/yob"+str(years)+".txt", names = ['Names', 'Gender', 'Count'])
        df['Year'] = years
        list_.append(df)
        frame = pd.concat(list_)
        frame = frame.reset_index()
        df_res_2 = frame.groupby(['Gender', 'Year'])['Count'].sum()
    return df_res_2.unstack('Year')

In [681]:
count_dynamics([1900, 1950, 2000])

Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202