In [1]:
import pandas as pd

In [93]:
# Task 1
def count_top3(my_years):
    list_years = []
    list_ = []
    list_years.extend(my_years)
    for years in list_years:
        df = pd.read_csv("names/yob"+str(years)+".txt", names = ['Names', 'Gender', 'Count'])
        df['Year'] = years
        list_.append(df)
        frame = pd.concat(list_)
        frame = frame.reset_index()
        frame = frame.groupby('Names').sum() 
        df_res = frame.sort_values('Count', ascending=False).head(3)
    return df_res.index.tolist()

In [94]:
count_top3([1880])

['John', 'William', 'Mary']

In [95]:
count_top3([1900, 1950, 2000])

['James', 'John', 'Robert']

In [680]:
# Task 2
def count_dynamics(my_years):
    list_years = []
    list_ = []
    list_years.extend(my_years)
    for years in list_years:
        df = pd.read_csv("names/yob"+str(years)+".txt", names = ['Names', 'Gender', 'Count'])
        df['Year'] = years
        list_.append(df)
        frame = pd.concat(list_)
        frame = frame.reset_index()
        df_res_2 = frame.groupby(['Gender', 'Year'])['Count'].sum()
    return df_res_2.unstack('Year')

In [681]:
count_dynamics([1900, 1950, 2000])

Year      1900     1950     2000
Gender
F       299798  1713065  1815295
M       150480  1790437  1963202